<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--无参构造方法创建bean-->
    <bean id="userDao" class="com.fengye.dao.impl.UserDaoImpl" scope="prototype"></bean>
    <!--静态工厂创建bean-->
    <bean id="staticBeanFactory" class="com.fengye.factory.StaticBeanFactory" factory-method="getBean"></bean>
    <!--工厂实例方法创建bean-->
    <bean id="dynamicBeanFactory" class="com.fengye.factory.DynamicBeanFactory"></bean>
    <bean id="dynamic" factory-bean="dynamicBeanFactory" factory-method="getBean1"></bean>
    <!--分模块开发：引入其它文件中的xml bean配置-->
    <import resource="applicationContext-xxx.xml"></import>
</beans>